@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Bogey Ball is an application that allows a player to Create a Score Card that will let him replicate the exact same Paper that
    they wrote on at the course. Here, they will be able to save the scorecard and keep it forever rather than 
    losing all of the scorecards around the house!</p>
